.button {
    margin-top: 1em;
    width: max-content;
    background-color: #F3F1E7;
    color: black;
    // cursor:-webkit-pointer;
    font-weight: 550;
    // padding: 1rem;
    // transition: all 0.4s ease;
    border-radius: 50px;
    font-size: 15px;
    // box-shadow:  20px 20px 60px #cfcdc4,
    //          -20px -20px 60px #ffffff;
    &:hover {
      background-color: F3F1E7;
    }
  }
  .noselect{
    user-select: none;
  }