.nav-list-item{
        display: table;
        block-size: max-content;
        list-style: none;
        // textAlign: "center",
        // alignContent: "center",
        margin: 0 auto;
        // width: "100%",
        padding: 0;
        overflow: hidden;
        list-style-type: none;
        overflow: hidden;
        float: none;

      }
      
      .listItem{
      float: none;
      display: table-cell;
      padding: 6px;
    }