.post-list__item {}
  .post-list__thumbnail {}
  
  .post-list__content {
    line-height: .5em;
  }
  .post-header{
    display:table;
    margin:0 auto;
  }
  .post-date{
    display:table;
    margin:0 auto;
    color:grey;
  }

  .posts-title{
    
  }